<li class="nav-social-links" >
  <% links.each do |name, url| %>
    <nav-social-link>
      <% if name.downcase == "email" %>
        <a title="<%= name %>">
          <%= svg "/images/theme/#{name.downcase.gsub(" ", "-")}.svg" %>
          <tooltip><%= url %></tooltip>
        </a>
      <% else %>
        <a href="<%= url %>" rel="me" title="<%= name %>">
          <%= svg "/images/theme/#{name.downcase.gsub(" ", "-")}.svg" %>
        </a>
      <% end %>
    </nav-social-link>
  <% end %>
</li>
