<rl-container data-controller="reading-list" data-reading-list-target="container">
  <rl-key>
    <rl-label>Key:</rl-label>
    <% @config_reading.types.each do |type, emoji| %>
      <rl-key-item>
        <%= emoji %> <%= type %>
      </rl-key-item>
      |
    <% end %>
    <% if @config_reading.star_for_rating_minimum %>
      <rl-key-item>
        ⭐ favorite
      </rl-key-item>
    <% else %>
      <rl-key-item>
        rating scale: 1–<%= @config_reading.rating_scale %>
      </rl-key-item>
    <% end %>
  </rl-key>

  <% if @config_reading.show_sort %>
    <rl-sorts>
      <rl-label>Sort:</rl-label>
      <rl-sort>
        <input type="radio" id="sort-date" name="sort" value="date" data-action="change->reading-list#sort">
        <label for="sort-date">by date</label>
      </rl-sort>
      <rl-sort>
        <input type="radio" id="sort-rating" name="sort" value="rating" data-action="change->reading-list#sort">
        <label for="sort-rating">by rating</label>
      </rl-sort>
    </rl-sorts>
  <% end %>

  <rl-filters class="collapsed" data-reading-list-target="filters">
    <rl-label>
      Filters (<a data-action="click->reading-list#expandFilters" class="dynamic" style="font-size:90%">show all</a>):
    </rl-label>
    <% if @config_reading.star_for_rating_minimum # star rating mode %>
      <rl-filter>
        <input type="checkbox" id="filter-rating-star" value="<%= @config_reading.star_for_rating_minimum %>" data-action="change->reading-list#filter">
        <label for="filter-rating">⭐</label>
      </rl-filter>
    <% else # number rating mode %>
      <% @ratings.each do |rating| %>
        <rl-filter>
          <input type="checkbox" id="filter-rating-<% rating %>" value="<%= rating %>" data-action="change->reading-list#filter">
          <label for="filter-rating-<%= rating %>">
            <%= rating %>
          </label>
        </rl-filter>
      <% end %>
      <rl-filter>
        <input type="checkbox" id="toggle-all-filter-rating" data-action="change->reading-list#toggleRatingCheckboxes">
        <label for="toggle-all-filter-rating">
          toggle all ratings
        </label>
      </rl-filter>
    <% end %>
    <% if @genres %>
      <% @genres.each do |genre| %>
        <rl-filter>
          <input type="checkbox" id="filter-genre-<%= genre %>" value="<%= genre %>" data-action="change->reading-list#filter">
          <label for="filter-genre-<%= genre %>">
            <%= genre %>
          </label>
        </rl-filter>
      <% end %>
      <rl-filter>
        <input type="checkbox" id="toggle-all-filter-genre" data-action="change->reading-list#toggleGenreCheckboxes">
        <label for="toggle-all-filter-genre">
          toggle all genres
        </label>
      </rl-filter>
    <% end %>
  </rl-filters>

  <rl-table data-reading-list-target="table">
    <% @list.each do |item| %>
      <% blurb_truncated = item.blurb.length > 150 if item.blurb %>
      <% collapsible = !item.notes.nil? || !item.groups.nil? || blurb_truncated %>
      <rl-item item-id="<%= item.id %>" <%= "class=collapsed" if collapsible %> data-action="click->reading-list#expandOrCollapse">
        <rl-head-line>
          <rl-rating>
            <%= item.star || item.rating %>
          </rl-rating>
          <rl-type>
            <%= item.type_emoji %>
          </rl-type>
          <rl-name-and-tags>
            <rl-name>
              <a href="<%= item.site %>">
                <%= item.name %>
              </a>
            </rl-name>
            <% if item.groups %>
              <rl-group-read>
                <%= @config_reading.group_emoji %>
              </rl-group-read>
            <% end %>
            <rl-date>
              <%= item.date %>
            </rl-date>
            <% item.genres.each do |genre| %>
              <rl-genre>
                <%= genre %>
              </rl-genre>
            <% end %>
            <% if collapsible %>
              <rl-expand />
            <% end %>
          </rl-name-and-tags>
        </rl-head-line>
        <rl-info-line>
          <% if item.blurb %>
            <rl-blurb <%= "class=truncated" if blurb_truncated %>>
              <%=raw Rinku.auto_link(item.blurb) %>
            </rl-blurb>
          <% end %>
          <% if item.notes || item.groups %>
            <rl-notes>
              <% if item.reread? %>
                <p><strong>Reread? </strong> Yes</p>
              <% end %>
              <% if item.groups %>
                <p><strong>Groups: </strong><%= item.groups.join(", ") %></p>
              <% end %>
              <% if item.notes %>
                <h4>NOTES:</h4>
                <% item.notes&.each do |note| %>
                  <p><%=raw Rinku.auto_link(note) %></p>
                <% end %>
              <% end %>
            </rl-notes>
          <% end %>
        </rl-info-line>
      </rl-item>
    <% end %>
  </rl-table>
</rl-container>
