<rl-container data-controller="reading-list" data-reading-list-target="container">
  <!-- The key, explaining item types and ratings -->
  <rl-key>
    <rl-label>Key:</rl-label>

    <% @config.types.each do |type, hash| %>
      <rl-key-item>
        <%= hash[:emoji] %> <%= type %>
      </rl-key-item>
      |
    <% end %>

    <% if @config.minimum_rating_for_star %>
      <rl-key-item>
        ⭐ favorite
      </rl-key-item>
    <% else %>
      <rl-key-item>
        rating scale: 1–<%= @config.maximum_rating %>
      </rl-key-item>
    <% end %>

    |
    <rl-key-item>
      🤝 group read
    </rl-key-item>

    |
    <rl-key-item>
      🔁 reread
    </rl-key-item>
  </rl-key>

  <!-- Sort options (invisible if disabled in config) -->
  <% if @config.show_sort %>
    <rl-sorts>
      <rl-label>Sort:</rl-label>

      <rl-sort>
        <input type="radio" id="sort-date" name="sort" value="date" data-action="change->reading-list#sort">
        <label for="sort-date">by date</label>
      </rl-sort>

      <rl-sort>
        <input type="radio" id="sort-rating" name="sort" value="rating" data-action="change->reading-list#sort">
        <label for="sort-rating">by rating</label>
      </rl-sort>
    </rl-sorts>
  <% end %>

  <!-- Filter options -->
  <rl-filters class="collapsed" data-reading-list-target="filters">
    <rl-label>
      Filters (<a data-action="click->reading-list#expandFilters" class="dynamic" style="font-size:90%">show all</a>):
    </rl-label>

    <!-- Filter by rating -->
    <% if @config.minimum_rating_for_star # star rating mode %>
      <rl-filter>
        <input type="checkbox" id="filter-rating-star" value="<%= @config.minimum_rating_for_star %>" data-action="change->reading-list#filter">
        <label for="filter-rating">⭐</label>
      </rl-filter>
    <% else # number rating mode %>
      <% @ratings.each do |rating| %>
        <rl-filter>
          <input type="checkbox" id="filter-rating-<% rating %>" value="<%= rating %>" data-action="change->reading-list#filter">
          <label for="filter-rating-<%= rating %>">
            <%= rating %>
          </label>
        </rl-filter>
      <% end %>

      <rl-filter>
        <input type="checkbox" id="toggle-all-filter-rating" data-action="change->reading-list#toggleRatingCheckboxes">
        <label for="toggle-all-filter-rating">
          toggle all ratings
        </label>
      </rl-filter>
    <% end %>

    <!-- Filter by genre -->
    <% if @genres %>
      <% @genres.each do |genre| %>
        <rl-filter>
          <input type="checkbox" id="filter-genre-<%= genre %>" value="<%= genre %>" data-action="change->reading-list#filter">
          <label for="filter-genre-<%= genre %>">
            <%= genre %>
          </label>
        </rl-filter>
      <% end %>

      <rl-filter>
        <input type="checkbox" id="toggle-all-filter-genre" data-action="change->reading-list#toggleGenreCheckboxes">
        <label for="toggle-all-filter-genre">
          toggle all genres
        </label>
      </rl-filter>
    <% end %>
  </rl-filters>

  <!-- The reading list itself -->
  <rl-table data-reading-list-target="table">
    <% @list.each do |item| %>
      <% blurb_truncated = item.blurb.length > 150 if item.blurb %>
      <% collapsible = item.public_notes.any? || blurb_truncated %>

      <rl-item item-id="<%= item.isbn || item.url %>" <%= "class=collapsed" if collapsible %> data-action="click->reading-list#expandOrCollapse">
        <!-- First line of an item (row) -->
        <rl-head-line>
          <rl-rating>
            <%= item.rating %>
          </rl-rating>

          <rl-type>
            <%= item.type_emoji %>
          </rl-type>

          <rl-name-and-tags>
            <rl-name>
              <a href="<%= item.url %>">
                <%= item.name %>
              </a>
            </rl-name>

            <% if item.experience_count > 1 %>
              <rl-reread>
                🔁
              </rl-reread>
            <% end %>

            <% if item.groups.any? %>
              <rl-group-read>
                🤝🏼
              </rl-group-read>
            <% end %>

            <rl-date>
              <%= item.date_or_status %>
            </rl-date>

            <% item.genres.each do |genre| %>
              <rl-genre>
                <%= genre %>
              </rl-genre>
            <% end %>

            <% if collapsible %>
              <rl-expand />
            <% end %>
          </rl-name-and-tags>
        </rl-head-line>

        <!-- Second line of an item (row) -->
        <rl-info-line>
          <% if item.blurb %>
            <rl-blurb <%= "class=truncated" if blurb_truncated %>>
              <%=raw Rinku.auto_link(item.blurb) %>
            </rl-blurb>
          <% end %>

          <% if item.public_notes.any? %>
            <rl-notes>
              <h4>NOTES:</h4>
              <% item.public_notes&.each do |note| %>
                <p><%=raw Rinku.auto_link(note) %></p>
              <% end %>
            </rl-notes>
          <% end %>
        </rl-info-line>
      </rl-item>
    <% end %>
  </rl-table>
</rl-container>
